@page
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div>
        <form action="#" class="d-flex" id="sendMessageForm">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Type message" aria-label="Type message" aria-describedby="button-addon2" id="messageInput" required>
                <button class="btn btn-outline-secondary" type="submit" id="sendMessage">Send</button>
            </div>
        </form>
    </div>

    <div>
        <ul id="messagesList" class="list-group">
        </ul>
    </div>
</div>